# Core dependencies
matplotlib==3.10.0      # Bibliothek für Datenvisualisierung
numpy==1.26.0            # Numerische Berechnungen und Arrays
requests==2.32.3        # HTTP-Bibliothek für API-Anfragen
tensorflow==2.18.0      # Deep Learning Framework
tqdm==4.67.1            # Fortschrittsbalken für Schleifen

