# Core Dependencies
matplotlib>=3.8.2
numpy>=1.26.3
requests>=2.31.0
tensorflow>=2.15.0
tqdm>=4.66.1

# Additional Dependencies
multiprocess>=0.70.16

# Development Dependencies
pytest>=7.4.4
black>=24.1.1
flake8>=7.0.0
mypy>=1.8.0

# Documentation
Sphinx>=7.2.6

# System and Utilities
psutil>=5.9.8
pathlib>=1.0.1

# Scientific Computing
rdkit>=2023.9.1
pandas>=2.2.0
scikit-learn>=1.4.0
seaborn>=0.13.1
